<div class="head">
  <div class="wrapper-head">
    <div>
      <h1 style="font-size: 1.4rem; font-weight: 500; color:#6B7280">Takaja Team</h1>
    </div>
    <div>
      <a href="/">
        <span>
          Haris Akbar
        </span>
        <i class="far fa-user" style="font-size: 1.2rem; margin-left: 10px;"></i> 
      </a>
    </div>
  </div>
</div>