<nav>
  <div class="wrapper">
    <div>
      <h1>SIPEJAM</h1>
    </div>
    <hr>
    <span class="dashboard-span">
      <a href="/">
        Dashboard
      </a>
    </span>
    <hr>
  </div>
</nav>