<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 
<%- include('../partials/head') %> 
<h1>opps sepertinya anda tersesat, kembali ke <a href="/">bumi</a></h1>
<%- include('../partials/footer') %> 
